@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600&display=swap");
* {
  font-family: "Fira Sans", sans-serif;
}
body {
  background-color: #f1f1f1;
}

.App {
  text-align: center;
}

.images-grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.image-card {
  height: 300px;
  width: 400px;
  flex-basis: 30%;
  margin: 10px;
}
.button {
  text-align: center;
  margin: auto;
  padding: 10px;
}

